In [18]:
import math
import cmath
math.sin(1)

0.8414709848078965

In [19]:
cmath.sin(1)

(0.8414709848078965+0j)

In [11]:
type(cmath.sin(1))

complex

In [14]:
type(math.sin(1))

float

In [20]:
from math import sin
from cmath import sin

In [21]:
math.sin(1)

0.8414709848078965

In [22]:
cmath.sin(1)

(0.8414709848078965+0j)

In [23]:
type(cmath.sin(1))

complex

In [24]:
type(math.sin(1))

float

In [25]:
sin(1)

(0.8414709848078965+0j)

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [27]:
i = 1
numbList = []
numbers = ()

while i < 13:
    numbers = int(input(f" Mata in {i}. talet"))
    numbList.append(numbers)
    i+= 1
print(numbList)

 Mata in 1. talet1
 Mata in 2. talet2
 Mata in 3. talet3
 Mata in 4. talet4
 Mata in 5. talet5
 Mata in 6. talet6
 Mata in 7. talet7
 Mata in 8. talet8
 Mata in 9. talet9
 Mata in 10. talet10
 Mata in 11. talet11
 Mata in 12. talet12
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [29]:
arr = np.array(numbList)
print(arr)

[ 1  2  3  4  5  6  7  8  9 10 11 12]

In [33]:
df = pd.DataFrame(arr)
print(df)

     0
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
9   10
10  11
11  12